header {
    text-align: center; /* Center the text horizontally */
    width: 100%; /* Take the full width of the page */
    position: absolute; /* Position it absolutely relative to the body */
    top: 50; /* Position it at the top */
    left: 0; /* Align it to the left */
    font-size: 50px; /* Adjust the font size as needed */
    padding: 10px 0; /* Add some padding for spacing */
    /* background-color: #fff; Optional: background color */
    color:aliceblue;
    font-family: 'Courier New', Courier, monospace;
    z-index: 10; /* Ensure it stays on top of other content */
}
body {
    /*
    font-family: Arial, sans-serif;
    line-height: 1.6;
    */
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden; /*no scroll bars*/
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

/*
header, nav, section, footer {
    margin: 20px;
    padding: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
*/